{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<style type="text/css">
  body{
    background-image:url(/media/portfolio/images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    padding-top: 50px;
  }
  </style>

<h1 id="blogtitle" class="font-weight-bold text-center text-white">Blog</h1>

<h3 class="text-center mb-5 text-white">Abubakar has written {{ projectblog.count }} blog{{ projectblog.count|pluralize }}</h3>

{% for blog in projectblog %}
<div class="row justify-content-center my-3 text-white">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2>{{ blog.title }}</h2>
    </a>
    <h5 class="text-warning">{{ blog.date|date:'M d Y'|upper }}</h5>
    <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>
  </div>
</div>
{% endfor %}

{% endblock %}
